
@model Wps.WebUI.Models.WordUsersViewModel
@section metatags
{
    @*<meta name="description" content="Word Power Swahili is suitable for tourist visiting Southeast Africa, including Tanzania, Kenya, Uganda, Rwanda, Burundi, Mozambique and the Democratic Republic of Congo. It’s help you to communicate with locals for your daily activities." />
        <meta name="robots" content="noodp" />*@
    <link rel="canonical" href="" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Word Contribution" />
    <meta property="og:description" content="Dear user, thank you for being a part of Word Power Swahili Dictionary, for it to improve and grow bigger we are requesting everyone to be a contributor of words, phrases and their meaning. We will appreciate for your support on success and growth of our largest online dictionary" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="Word Power Swahili" />
    <meta property="og:image" content="http://www.wordpowerswahili.org/images/banner.jpg" />
    <meta property="fb:app_id" content="246107605737575" />
    <meta property="og:locale:alternate" content="en_US" />
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color:#535676;color:white;margin:0px">
    <div class="row">
        <div class="col-md-24" style="padding:10px">

            <h2>Word Contribution</h2>
            <h4>Dear user, thank you for being a part of Word Power Swahili Dictionary, for it to improve and grow bigger we are requesting everyone to be a contributor of words, phrases and their meaning. We will appreciate for your support on success and growth of our largest online dictionary</h4>
            @using (Html.BeginForm("Create", "WordUsers", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <label class="control-label col-md-4" for="English">English</label>
                            <div class="col-md-20">
                                <input class="form-control text-box single-line" data-val="true" data-val-required="Please enter a English Word (*)" id="English" name="English" value="" type="text">
                                <span class="field-validation-valid text-danger" data-valmsg-for="English" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label class="control-label col-md-4" for="Swahili">Swahili</label>
                            <div class="col-md-20">
                                <input class="form-control text-box single-line" data-val="true" data-val-required="Please enter a Swahili Word (*)" id="Swahili" name="Swahili" value="" type="text">
                                <span class="field-validation-valid text-danger" data-valmsg-for="Swahili" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label col-md-7" for="CategoryID">Category</label>
                            <div class="col-md-17">
                                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })

                                <span class="field-validation-valid text-danger" data-valmsg-for="CategoryID" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="col-md-24">
                                <input value="Create" class="btn btn-success" type="submit">
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="row" style="margin:0px;background-color:#f49d81">
    <div class="col-md-6" style="padding-top:10px;padding-bottom:25px">
        @foreach (var item in Model.Categories)
        {
            <div class="col-md-24">
                @{ var sr = "~/images/" + @item.CategoryID + ".png";}
                <a href="/words/list/@item.CategoryID" class="btn btn-danger" style="width:100%">
                    <img src="@Url.Content(sr)" alt="@item.CategoryName" class="img-responsive pull-left">
                    <h3 style="white-space:pre-wrap;"> @item.CategoryName</h3>
                </a>
            </div>
                    }

        <div class="col-md-24" style="margin-top:18px">
            <a href="/Home/Books">  <img src="~/images/Books.png" alt="Top 32 Books on Swahili" class="img-thumbnail center-block " /></a>
        </div>
        <div class="col-md-24" style="margin-top:10px">
            <a href="/Home/Videos">   <img src="~/images/Videos.png" alt="Top Videos on Swahili" class="img-thumbnail center-block" /></a>
        </div>
    </div>

    <div class="col-md-18">

        <table class="table table-striped table-bordered table-responsive">
            <tr>
                <th>
                    @Html.DisplayName("Category Name")
                </th>
                <th>
                    @Html.DisplayName("English")
                </th>
                <th>
                    @Html.DisplayName("Swahili")
                </th>


            </tr>

            @foreach (var item in Model.tmpWords)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.English)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Swahili)
                    </td>


                </tr>
            }

        </table>

    </div>


    <div class="col-md-24">
        <div class="fb-comments" data-href="@ViewBag.titlefull" data-width="100%" data-numposts="20"></div>
    </div>
</div>



















